.wrapper {
  border: 1px solid #f6f6f6;
  background: #f6f6f6;
}

.container {
  width: 80vh;
  margin: 0 auto;
  height: 95vh;
}

.registrationHeader {
  text-align: center;
}

.registrationForm {
  background: white;
  margin: 0 auto;
  padding: 16% 18%;
  border: 1px solid #dedede;
  border-radius: 3px;
}
